
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MAIL IT{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="the mail makers" />
    <meta name="keywords" content="e-mail-marketing" />
    <meta name="author" content="@kukulakcero, kukulak@kukulakcero.com" />

    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">

    <link rel="stylesheet" href="/static/mdesigner/css/logIn.css">
  </head>


<body>
  <section class="portada">
    <section class="tarjetaLogIn">
      <div class="logo">
        <div class="theSpace">
        </div>
        <h1 id= "tituLogo">MAIL_it</h1>
        <h6>smart mail design</h6>
      </div>

      <div class="logIn">
        {% block contenido %}
        <a href="/login/">Log In<br></a>
        <a href="/signup/">First Timers</a>
        {% endblock %}

    </section>

    </section>

  </body>

</html>
